<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<li>
    <div >
        <div class="avatar">
            <label >T</label>
        </div>
        <div class="talk-bubble tri-right left-top">
            <div class="talktext">
                <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
            </div>
        </div>
    </div>
</li>
<li>
    <div >
        <div class="talk-bubble-right tri-right btm-right">
            <div class="talktext">
                <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
            </div>
        </div>
    </div>
</li>
<li>
    <div >
        <div class="talk-bubble-right tri-right btm-right">
            <div class="talktext">
                <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
            </div>
        </div>
    </div>
</li>